/* First Section */
.main-page {
  display: flex;
  flex-direction: var(--direccionFlex);
  align-items: var(--alineacionEjeY);
  gap: 7vh;
  /* height: 150vh; */
  position: relative;
  overflow: hidden;
}

.main-page__container-img {
  width: 100%;
  position: absolute;
  left: 5%;
  height: 85%;
  z-index: 1;
}

.main-page__img {
  width: 95%;
  height: 100%;
  /* top: 0; */
  filter: drop-shadow(0 0 30px var(--negro));
}

.next-pages {
  display: flex;
  color: var(--colorSecundario);
  width: 100%;
  padding: 0 50px;
  align-items: var(--alineacionEjeY);
  justify-content: space-between;
  font-size: 2rem;
  letter-spacing: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.next-pages__right {
  float: right;
}

.main-page__event {
  display: flex;
  flex-direction: var(--direccionFlex);
  align-items: var(--alineacionEjeY);
  gap: 65px;
}

.name-event {
  display: flex;
  align-items: var(--alineacionEjeY);
  flex-direction: var(--direccionFlex);
  font-size: 55px;
}

.name-event__text {
  display: inline-block;
  color: var(--colorSecundario);
  text-transform: var(--tipoLetra);
  font-weight: 1000;
  font-family: "Passion One", sans-serif;
  letter-spacing: 5px;
}

.name-event__text--background-red {
  background-color: var(--colorFondoTitulo);
  padding: 0 4px;
  position: relative;
  border-radius: 5px;
}

.name-event__text--background-red::after {
  content: '•';
  font-size: 80%;
  position: absolute;
  bottom: 75%;
  left: 100%;
  color: var(--colorFondoTitulo);
}

.btn-signin {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--negro);
  text-transform: var(--tipoLetra);
  background-color: var(--colorSecundario);
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 3px;
  transition: 0.3s;
  z-index: 1;
  text-align: center;
  width: 120px;
}

.btn-signin:hover {
  background-color: var(--colorPrincipal);
  opacity: 0.5;
}

.other-pages {
  display: flex;
  gap: 1.2vw;
  font-size: 2vw;
  color: var(--colorPrincipal);
  cursor: pointer;
  z-index: 1;
}

.other-pages__page--active {
  color: var(--colorSecundario);
}

.name-game {
  color: var(--colorSecundario);
  font-size: 400px;
  text-transform: var(--tipoLetra);
  font-family: var(--fuentePrincipal);
  font-weight: 1000;
  letter-spacing: 30px;
  margin-top: -170px;
}