.page-teams {
  display: flex;
  flex-direction: var(--direccionFlex);
  margin: 100px 0;
  padding: 0 20px;
}

.page-teams-information{ 
  display: flex;
  flex-direction: var(--direccionFlex);
  width: 55%;
  align-items: var(--alineacionEjeY);
}

.page-teams-information__title {
    color: var(--colorPrincipal);
  font-family: var(--fuentePrincipal);
  letter-spacing: 10px;
  font-size: 45px;
  text-transform: var(--tipoLetra);
}

.page-teams-information__text {
  color: var(--colorSecundario);
  font-size: 1.6rem;
  letter-spacing: 3px;
  line-height: 35px;
  text-align: center;
}

.next-pages__left--page-teams {
  rotate: -90deg;
  color: var(--colorPrincipal);
}

.next-pages__right--page-teams {
  rotate: -90deg;
}

.page-teams__teams {
  display: flex;
  width: 100%;
  align-items: var(--alineacionEjeY);
  justify-content: space-around;
  margin-top: 6%;
}

.page-teams__container {
  background-color: var(--colorPrincipal);
  width: 400px;
  height: 50vh;
  position: relative;
}

.img-page__img--team {
  width: 100%;
  z-index: 1;
  top: -20%;
  right: 5%;
  height: 60vh;
  position: absolute;
}

.decoration--team-left {
  position: absolute;
  top: 3%;
  left: -15%;
  width: 18%;
  height: 20%;
}

.decoration--team-right {
  position: absolute;
  bottom: 3%;
  right: -14%;
  width: 15%;
  height: 20%;
}