.section-cards {
    margin: 100px 0 200px;
    display: flex;
    flex-direction: var(--direccionFlex);
}

.section-cards__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 250px;
    align-items: var(--alineacionEjeY);
}

.section-cards__title {
    font-size: 43px;
    font-family: var(--fuentePrincipal);
    color: var(--colorSecundario);
    text-transform: var(----tipoLetra);
    letter-spacing: 10px;
}


.cards-container {
    display: flex;
    align-items: var(--alineacionEjeY);
    justify-content: space-between;
    padding: 0 8%;
    gap: 5%;
}


.card {
    height: 530px;
    width: 350px;
    background-color: var(--colorSecundario);
    padding: 15px;
    display: flex;
    flex-direction: var(--direccionFlex);
    align-items: var(--alineacionEjeY);
    gap: 6%;
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 0 10px var(--colorSecundario);
}

.card__container-img {
    height: 55%;
    width: 100%;
    background-color: var(--colorPrincipal);
    position: relative;
}

.card__img {
    position: absolute;
    bottom: 0;
    width: 97%;
    max-height: 100%;
}

.card__container-img:hover {
    box-shadow: 0 0 10px var(--negro);
}

.card__img--less-width {
    width: 55%;
    left: 25%;
}

.card__information {
    display: flex;
    flex-direction: var(--direccionFlex);
    justify-content: space-between;
    text-align: center;
}

.card__title {
    font-family: var(--fuentePrincipal);
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 5%;
}

.card__text {
    hyphens: auto;
    line-height: 25px;
    font-size: 1.1rem;
}

.card__buttom {
    background-color: var(--colorPrincipal);
    text-align: center;
    padding: 5px 10px;
    color: var(--negro);
    text-decoration: none;
    text-transform: var(--tipoLetra);
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.5s;
}

.card__buttom:hover {
    box-shadow: 0 0 10px var(--negro);
    border-radius: 10px;
}
