.page-signin--invested {
  margin: 200px 0 250px;
  position: relative;
}

.signin-content--invested {
  gap: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  'signin-information--invested img-page--invested';
  column-gap: 5%;
}

.signin-information--invested {
  grid-area: signin-information--invested;
  margin-left: 20%;
}

.signin-information__text--invested {
  margin-right: 27%;
}

.img-page--invested {
  grid-area: img-page--invested;
  width: 100%;
  background-color: var(--colorPrincipal);
  margin-right: 0;
  position: relative;
  height: 70vh;
}

.img-page__img--invested {
  position: absolute;
  width: 110%;
  margin-bottom: 9.5%;
  margin-left: -20%;
  z-index: 2;
  height: 80vh;
}

.decoration--page-signin-invested {
  position: absolute;
  top: 3%;
  left: -10%;
  width: 10%;
}

.next-pages__left--page-signin-invested {
  position: absolute;
  left: 10%;
  color: var(--colorPrincipal);
}

.next-pages__right--page-signin-invested {
  bottom: -15%;
  position: absolute;
  left: 35%;
}