/* section signin */
.page-sigin {
  margin: 100px 0;
  display: flex;
  flex-direction: var(--direccionFlex);
  justify-content: var(--alineacionEjeX);
  gap: 2.5vh;
  position: relative;
}

.decoration--page-signin {
  height: 75px;
}
.decoration__line--blue {
  background-color: var(--colorPrincipal);
}

.signin-content {
  display: flex;
  gap: 25%;
  align-items: var(--alineacionEjeY);
}

.img-page {
  display: flex;
  align-items: var(--alineacionEjeY);
  width: 100%;
  height: 60vh;
  margin-right: 5%;
}

.img-page__img {
  width: 120%;
  z-index: 1;
  height: 70vh;
  filter: drop-shadow(0 0 30px var(--negro));
}

.signin-information {
  width: 100%;
  margin-right: 10%;
  margin-left: -10%;
  display: flex;
  flex-direction: var(--direccionFlex);
  gap: 30px;
}

.signin-information__title {
  color: var(--colorPrincipal);
  font-family: var(--fuentePrincipal);
  letter-spacing: 10px;
  font-size: 50px;
  text-transform: var(--tipoLetra);
}

.signin-information__text {
  color: var(--colorSecundario);
  font-size: 1.5rem;
  text-align: justify;
  line-height: 40px;
}

.btn-signin--blue {
  margin-top: 20px;
  background-color: var(--colorPrincipal);
}

.btn-signin--blue:hover {
  background-color: var(--colorSecundario);
}

.next-pages__left--page-signin {
  position: absolute;
  top: 5%;
  right: 5%;
}

.next-pages__right--page-signin {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.decoration--page-signin-left {
  margin-bottom: -4%;
}

.decoration--page-signin-right {
  margin-top: 3%;
  align-self: flex-end;
}