/* section signin */
.page-sigin {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5vh;
  position: relative;
}

.decoration--page-signin {
  height: 75px;
}
.decoration__line--blue {
  background-color: var(--colorPrincipal);
}

.signin-content {
  display: flex;
  gap: 25%;
  align-items: center;
}

/* prueba */
.img-page {
  display: flex;
  align-items: center;
  width: 140vw;
  height: 60vh;
  margin-right: 5%;
}
/*  */

.img-page__img {
  width: 120%;
  z-index: 1;
}

.signin-information {
  width: 100%;
  margin-right: 10%;
  margin-left: -10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.signin-information__title {
  color: var(--colorPrincipal);
  font-family: "Holtwood One SC", serif;
  letter-spacing: 10px;
  font-size: 50px;
  text-transform: uppercase;
}

.signin-information__text {
  color: var(--blanco);
  font-size: 1.5rem;
  text-align: justify;
  line-height: 40px;
}

.btn-signin--blue {
  margin-top: 20px;
  background-color: var(--colorPrincipal);
}

.btn-signin--blue:hover {
  background-color: var(--blanco);
}

.next-pages__left--page-signin {
  position: absolute;
  top: 5%;
  right: 5%;
}

.next-pages__right--page-signin {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.decoration--page-signin-left {
  margin-bottom: -4%;
}

.decoration--page-signin-right {
  margin-top: 3%;
  align-self: flex-end;
}